@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
  /* teste para dark-mode */
  --bg--dark-color:black;
  --bg--light-color:white;
}

html{
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F6F6F6;
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
}

/* Responsividade */

@media (min-width: 500px){
 
  html{
    font-size: 12px ;
  }
}

@media (min-width: 800px){
 
  html{
    font-size: 15px ;
  }
}