@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
  --bg-form:white;
  --bg-color:white;
  --btn-color:white;
  --logo-color:white;
  --focus-color: lightgrey;
  --tittle-color:rgb(116, 116, 116);
  --label-color:black;

}


.dark-mode:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: lightgrey;
  --bg-form:rgba(0, 0, 0, 0.562);
  --bg-color:black;
  --btn-color:white;
  --logo-color:black;
  --focus-color: #8E64C5;
  --tittle-color:lightgrey;
  --label-color:white;
}



html{
  
  font-size: 10px;
  
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
}

/* Responsividade */

@media (min-width: 500px){
 
  html{
    font-size: 12px ;
  }
}

@media (min-width: 800px){
 
  html{
    font-size: 15px ;
  }
}