@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: #F2F2F2;
  --bg-form:white;
  --bg-color:white;
  --bg-tarefas:white;
  --btn-color:white;
  --logo-color:white;
  --focus-color: lightgrey;
  --tittle-color:rgb(116, 116, 116);
  --label-color:black;
  --tarefa-color:grey;
  --shadow-color:lightgrey;
  --excluir-color:white;
  --botao-color: transparent;

}



.dark-mode:root {
  --primary: #7898FF;
  --secondary: #8E64C5;
  --app-grey: lightgrey;
  --bg-form:rgba(59, 58, 58, 0.418);
  --bg-tarefas:rgba(59, 58, 58, 0.418);
  --bg-color:black;
  --btn-color:white;
  --logo-color:black;
  --focus-color: #8E64C5;
  --tittle-color:lightgrey;
  --label-color:white;
  --tarefa-color:grey;
  --shadow-color:rgba(128, 128, 128, 0.178);
  --botao-color: white;
}


html{
  
  font-size: 10px;
  
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
}

button {
  border: none;
  border-radius: 3px;
}

/* Responsividade */

@media (min-width: 500px){
 
  html{
    font-size: 12px ;
  }
  
}

@media (min-width: 800px){
 
  html{
    font-size: 15px ;
  }
  
}
@media (max-width: 550px){
  .btn-dark{
    margin-left: 0;
    margin-bottom: 0;
    left: 40%;
    margin-top: -1rem;
    }
  }