@import url('./common.css');


header {
    display: flex;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    box-shadow: 0px 3px 5px lightgrey;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

/* BOTÃO DARK MODE */

input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .label-dark  {
    width: 3rem;
    height: 2rem;
    display:block;
    background-color: black;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 2rem #477a8550;
    cursor: pointer;
  }
  .label-dark::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: white;
    position: absolute;
    border-radius: 1rem;
    top: 0.5rem;
    left: 0.5rem;
    transition: 0.5s;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked + .label-dark:after {
    left: calc(100% - 1rem);
    transform: translateX(-20%);
  }
  
  input[type="checkbox"]:checked + .label-dark  {
    background-color: grey;
  }
  
  .label-dark :active:after {
    width: 1.5rem;
  }
  


a {
    display: block;
    width: fit-content;
    padding: .7rem 1rem;
    border-bottom: .2rem solid white;
    text-decoration: none;
    color: var(--logo-color);
}

.user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: rgb(223, 223, 223);
}

.user-info p {
    text-transform: capitalize;
}

.user-info .user-image {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: (--bg-color);
    border: 1.5px solid rgba(255, 255, 255);
    margin-left: .7rem;
}
.user-image{
    margin-right: 1rem;
}


/* Novas tarefa ----------------------------------------------------------- */

.nova-tarefa {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    width: 80%;
    margin: 0 10%;
    padding: 1.5rem;
    box-shadow: 2px 2px 10px lightgrey;
    border-radius: .2rem;
    z-index: 20;
}

.nova-tarefa input[type=text] {
    border: none;
    flex: 1;
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
    padding: .4rem;
    font-size: 1.1rem;
}

.nova-tarefa input:focus {
    outline: none;
    border-bottom: 1px solid grey;
}

.nova-tarefa input::placeholder {
    color: rgb(197, 197, 197);
    text-indent: .2rem;
}

.nova-tarefa button {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    margin-left: 2rem;
    margin-right: 1rem;
    opacity: .5;
}

.nova-tarefa button:hover {
    opacity: 1;
}

.nova-tarefa button img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    
}




.not-done {
    width: 2rem;
    height: 2rem;
    background-color: var(--app-grey);
    margin-right: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

#validar{
    position: absolute;
    color: var(--secondary);
    font-size: .75rem;
    bottom: 5px;
    left: 5rem;
}


/* Lista de tarefas ----------------------------------------------------------- */

.tarefas-pendentes {
    display: flex;
    flex-direction: column;
    width: 70%;
    list-style: none;
    margin: 2em 15%;
    background-color: var(--bg-color)
}

.tarefa {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    background-color: var(--bg-color)
    
}

.tarefa .not-done {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    background-color: (--bg-color);
    box-shadow: 2px 2px 5px lightgrey;
    border: 2px solid var(--secondary);
    z-index: 2;
    transition: background-color 200ms linear;
}

.tarefa .not-done:hover {
    background-color: var(--secondary);
}

.tarefa:first-child .not-done::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: calc(.75rem - 1px);
    display: block;
    height: 3rem;
    width: 2px;
    background-color: var(--secondary);
}

.tarefa:not(:last-child) .not-done::after {
    content: '';
    position: absolute;
    top: 100%;
    left: calc(.75rem - 1px);
    display: block;
    height: 4.5rem;
    width: 2px;
    background-color: var(--secondary);
}

.tarefa .descripcion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    box-shadow: 2px 2px 5px lightgrey;
    
}

.tarefa .nome {
    color: rgb(95, 95, 95);
    
}

.tarea .timestamp {
    font-size: .9rem;
    color: rgb(134, 134, 134);
    
}


/* Tarefas concluídas ----------------------------------------------------------- */

.titulo-concluida {
    position: relative;
    width: 8rem;
    text-align: center;
    padding: .5rem 1rem;
    background-color:var(--bg-color);
    border-radius: .2rem;
    box-shadow: 3px 3px 5px lightgrey;
    color: rgb(170, 170, 170);
    font-weight: 400;
    font-size: 1.1rem;
    margin-left: calc(15% - 4rem);
    z-index: 20;
}

.titulo-concluida,
.tarefas-concluidas {
    display: flex;
    flex-direction: column;
    width: 70%;
    list-style: none;
    margin: 2rem auto;
}

.tarefas-concluidas .not-done {
    background-color: lightgrey;
    border-color: grey;
}

.tarefas-concluidas .not-done::before,
.tarefas-concluidas .not-done::after {
    background-color: grey !important;
}

.tarefas-concluidas .tarefa .descripcion {
    background-color: var(--bg-color);
}

.tarefas-concluidas .tarefa .descripcion .nome {
    color: grey;
    text-decoration: line-through;
}

.excluir {
    width: 2rem;
    height: 2rem;
    background-color: var(--secondary) ;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.tarefa:hover .excluir{
    display: flex;
}

/* Barra de progesso ----------------------------------------------------------- */

.loading-mask{
    position: absolute;
    height: 100vh;
    width: 100%;
    background:linear-gradient(90deg, var(--primary), var(--secondary));
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 100;
}

.loading {
    position: absolute;
    width:120px;
    height:22px;
    border-radius: 20px;
    color: white;
    border:2px solid;
}
.loading::before {
    content:"";
    position: absolute;
    margin:2px;
    inset:0 100% 0 0;
    border-radius: inherit;
    background:currentColor;
    animation:l1 1.5s infinite;
}
@keyframes l1 {
      100% {inset:0}
}
