@import url('./common.css');

h1 {
  color: rgb(116, 116, 116);
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

form {
  position: relative;
  height: 100vh;
  width: 30rem;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 calc(50% - 15rem);
  box-shadow: 0 5px 5px lightgrey;
  padding: 2rem 4rem;
  box-sizing: border-box;
}

form:after {
  position: absolute;
  content: '';
  width: .7rem;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(var(--primary), var(--secondary));
}

.image {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background-color: var(--app-grey);
  margin-bottom: 2rem;
}

input {
  width: 100%;
  padding: .4rem .5rem;
  background-color: var(--input-grey);
  border: 1px solid var(--bordaInput-grey);
  border-radius: .2rem;
}

input#naoValido {
  width: 100%;
  padding: .4rem .5rem;
  background-color: var(--input-grey);
  border: 1px solid var(--bordaInput-grey);
  border-radius: .2rem;
}

input:focus {
  outline: none;
  border: 1px solid lightgrey;
}

label {
  width: 100%;
  font-weight: 300;
  margin-bottom: -.1rem;
  margin-top: 1.5rem;
}

button {
  padding: .3rem 2rem;
  background-color: var(--primary);
  color: white;
  margin-top: 5rem;
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}

.form-footer {
  margin-top: auto;
  color: grey;
  font-size: 2rem;
}